@font-face {
  font-family: "BagelFatOne-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.title,
h1 {
  font-family: "BagelFatOne-Regular", serif;
}

.content,
p,
button,
input {
  font-family: "Ownglyph_ParkDaHyun", sans-serif;
}
